<div class="agency-content">
	<div class="agency-holder">
		<div class="agency-name"><%= agency %></div>
		<div class="agency-metrics">
			<div class="lds-ring">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<ul class="agency-data">
				<li>lorem ipsum dolar secretariat</li>
				<li>lorem ipsum dolar secretariat</li>
			</ul>
		</div>
	</div>
</div>